# Directories.
auto-complete/
auto-save-list/
eshell/
roguel-ike-saves/
semanticdb/
server/
timelog
tutorial/
url/
elpa/archives/
elpa/gnupg/

# Readme.
elpa/*-readme.txt

# Compiled.
*.elc

# Backup.
*.old

# Temporary files.
*~

# Data.
paradox-token.el
ac-comphist.dat
network-security.data
places
recentf
tramp
kkcrc
*.session